*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // primary colors
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark: hsl(229, 23%, 23%);
    --dark-blue: hsl(227, 10%, 46%);
    // neutral color
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
}

body {
    font-size: 1.125rem;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background: url(../images/bg-pattern-top.svg) -122% 155% no-repeat, url(../images/bg-pattern-bottom.svg) 200% -85% no-repeat; // el primer valor afecta en X y el segundo en Y
    background-color: var(--dark-cyan);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .card-profile {
        background: var(--white);
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 1.5rem hsla(229, 23%, 23%, .5);

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 8.8rem;
            background-image: url(../images/bg-pattern-card.svg);
        }

        .content {
            margin-top: 8.8rem;
            position: relative;

            .img-profile {
                background: var(--white);
                width: 6.5rem;
                height: 6.5rem;
                border-radius: 50%;
                padding: .3rem;
                position: absolute;
                top: -3.5rem;
                left: 50%;
                transform: translateX(-50%);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .info {
                padding: 3rem 6.6rem 2rem;
                text-align: center;

                .name {
                    margin-top: 1.2rem;
                    padding-bottom: .45rem;
                    color: var(--very-dark);
                    font-size: 1.125rem;
                    font-weight: 700;

                    .age {
                        color: var(--dark-gray);
                        font-weight: 400;
                        padding-left: .2rem;
                    }
                }

                .city {
                    color: var(--dark-blue);
                    font-size: .9rem;
                }
            }

            .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: .1rem solid hsla(0, 0%, 59%, .2);
                text-align: center;
                padding: 1.3rem 3rem;

                h2 {
                    font-size: 1.125rem;
                    color: var(--very-dark);
                    padding-bottom: .15rem;
                }

                p {
                    color: var(--dark-gray);
                    font-size: .65rem;
                    letter-spacing: .1rem;
                }
            }
        }
    }
}

footer {
    .attribution {
        position: absolute;
        bottom: 1rem;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        font-size: .80rem;
        color: var(--very-dark);

        a {
            color: var(--white);
            text-decoration: none;

            &:hover {
                color: var(--very-dark);
            }
        }
    }
}

// ------------------------------- media queries ----------------------------------------

@media (max-width: 39.375rem) {
    footer .attribution {
        display: none;
    }
}

@media (max-width: 26.25rem) {
    body {
        background: url(../images/bg-pattern-top.svg) -420% -45% no-repeat, url(../images/bg-pattern-bottom.svg) 620% 140% no-repeat;
        background-size: 21.875rem 21.875rem, 21.875rem 21.875rem;
        background-color: var(--dark-cyan);
    }

    main .card-profile .content .info {
        padding: 3rem 6rem 2rem;
    }
}